<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        img {
          border: 1px solid rgb(197, 8, 8);
          border-radius: 4px;
        }
        
        img:hover {
          box-shadow: 0 0 10px 10px rgba(19, 129, 65, 0.5);
        }
        figure img {
            vertical-align: top;
        }
        figure figcaption {
            text-align: center;
        }
        body {background-color: #d81212;}

        .border {
        border-right: 1px solid black;
        }
        </style>

</head>
<body>
    <h2><u>Why recommend item {{item_code}} to user {{user_code}}</u></h2>
    <div class="p-3 text-white">
        <div class="row">
            <div class="col-5 border">
                <h3>Item details</h3>
                {% if item_details is defined %}
                <ul>
                {% for i in item_details %}
                <li>{{ i }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-5 border">
                <h3>User details</h3>
				{% if user_details is defined %}
                <ul>
                {% for i in user_details %}
				<li>{{ i }}</li>
				{% endfor %}
                </ul>
                {% endif %}
            </div>
			<div class="col-2">
                {% if user_code is defined %}
                <figure>
                    <img title="{{ item }}" src="/static/item_images/avatar.png" alt="HTML5 Icon" width="200" height="200"/>
                    <figcaption>User code: {{user_code}}</figcaption>
                </figure>
                {% endif %}
            </div>
		</div>
        <h3>Inferences</h3>
        <div class="row">
            <div class="col-8">
            {% if details is defined %}
            <ul>
            {% for i in details %}
            <li>{{ i }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="col-4">
                {% if post_bool %}
                <p style="color:black">*Sale successfully entered. Enter another sale.</p>
                {% endif %}
                <h3>Has the user bought this item?</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="sel1">Date today:</label>
                        <select class="form-control" id="sel1" name="date_today">
                            <option>{{ date_today }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">User_code:</label>
                        <select class="form-control" id="sel1" name="user_code">
                            <option>{{ user_code }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Item_code:</label>
                        <select class="form-control" id="sel1" name="item_code">
                            <option>{{ item_code }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">HL bought (between 0.06 and 200):</label>
                        <input type="text" class="form-control" id="sel1", name="hl">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </form>
            </div>
		</div>
    </div>