<!DOCTYPE html>
<html>
<head>
	<style>
	img {
  	float: left;
		}
	</style>

	<title>Recommendations</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
</head>
<body>

	<header>
		<div class="container">
		<p class="center"><h2>Items recommended for : "{{user_code}}"</h2></p>	
	</div>
	</header>
	<ol>	
		{% for i in range(10) %}
			<div class="dark themed">
			<li><a href="{{cs_rec[i]}}"><button class="accent block"><h3>{{cs_rec_scores[i]}}</h3></button></li>
			<div class="wrapper block pictureWrapper">
			<img class="picture" src='item_images/1.jpg'
				height="250"
				width="250" />
			</div>
		</div>
		{% endfor %}
	</ol>

</body>
</html>