<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        img {
          border: 1px solid rgb(197, 8, 8);
          border-radius: 4px;
        }
        
        img:hover {
          box-shadow: 0 0 10px 10px rgba(19, 129, 65, 0.5);
        }
        figure img {
            vertical-align: top;
        }
        figure figcaption {
            text-align: center;
        }
        body {background-color: #403e41;}
        </style>
</head>


<body>
    <div class="p-3 text-white">
        <div class="row">
            <div class="col-10" style='background: url(/static/item_images/background.jpg); background-size: 1150px 200px;'>
            </div>
            <div class="col-2">
                {% if user_code is defined %}
                <figure>
                    <img title="{{ item }}" src="/static/item_images/avatar.png" alt="HTML5 Icon" width="200" height="200"/>
                    <figcaption>User code: {{user_code}}</figcaption>
                </figure>
                {% endif %}
            </div>
        </div>
        {% if cs_rec is defined %}
        <p></p>
        <h2>Cross Sell Recommendations:</h2>
        <div class="row p-1">
            {% for i in range(6) %}
            <div class="col-2 p-2 d-flex justify-content-center">
                <a href="/item_desc/{{user_code}}/{{cs_rec[i]}}">
                <figure>
                <img title="{{ item }}" src="/static/item_images/{{cs_rec[i]%150}}.jpg" alt="HTML5 Icon" width="200" height="200"/>
                <figcaption>{{cs_rec[i]}} with score {{"%.4f"|format(cs_rec_scores[i])}}</figcaption>
                </figure>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if ph_rec is defined %}
        <h2>Recommendations based on User History:</h2>
        <div class="row">
            {% for i in range([ph_rec|length,6]|min) %}
            <div class="col-2 p-2 d-flex justify-content-center">
                <a href="{{ url_for('item_desc', item_code=ph_rec[i], user_code=user_code) }}">
                <figure>
                <img title="{{ item }}" src="/static/item_images/{{ph_rec[i]%150}}.jpg" alt="HTML5 Icon" width="200" height="200"/>
                <figcaption>{{ph_rec[i]}} with score {{"%.4f"|format(ph_rec_scores[i])}}</figcaption>
                </figure>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>